*{
	margin: 0;
}
.main_menubar
{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-color: black; */
	
}.logo
{
	color: white;
	width: 30%;
	justify-content: space-between;
}

.menu
{
	color: white;
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	width: 50%;

	
}

a{
	color: white;
}
.menu 
{
	list-style: none;
	justify-content: space-between;
	display: flex;
	/*flex-direction: row;*/
}
.container
{
	background-image: url('/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.name
{
	display: flex;
	flex-direction: column;
	height: 89vh;
	color: white	;
	margin: 10px;
justify-content: center;
align-items: center;
align-content: center;

}
button{
	padding: 20px;
}


.specialization{
    background-color: cyan;
    color: rgb(red, green, blue);
    padding: 20px 0px 0px 0px ;
    text-align: center;
}

.specialization h1{
    font-size: 40px;
}
.specialcontent{
    display: flex;

}
.content_s{
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin: 20px;
    padding: 30px;
    
}


.awards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* background-color: grey; */
}
.awards div:nth-child(even){background-color: #f2f2f2;}

.awardcontent{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 30vh;
    width: 25%;
}
.awardcontent h1{
    font-size: 30px;
}

.awardcontent p{
    font-size: 20px;
}


.creprocess{

    padding: 30px 0px 0px 0px ;
    color: white;
    text-align: center;
    /* background-color: #3C9997; */
    background-color: rgb(211, 107, 38);
    /* opacity: 50%; */
}
.first_h1 {
    font-size: 40px;
    padding: 10px 0px  ;
}


.creprocess_1{
    height: 50vh;
    display: flex;
   justify-content: center;
   align-items: center;
}
.creaprocesscontent{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    text-align: center;
    width: 24.10%;
}

.creaprocesscontent i{
  color: rgb(0, 0, 0);
}

.creaprocesscontent i p{
    color: red;
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 25px;
  }
.icon_1
{
  transition: all 1s;
}
.icon_1 :hover
{
  /* height: 90px;
  width: 90ox; */
  color: yellow;
  /* zoom: 50px; */
  line-height: 90px;
  transform: scale(1.3);
}
footer{
    display: flex;
    height: 30vh;
    background-color: black;
    /* align-items: center; */
    padding: 20px 0px;
    /* justify-content: center; */
    color: white;
  }
  .links{
    display: flex;
    padding: 0px 100px;
    flex-direction: column;

  }
  .links a {
    text-decoration: none;
    padding: 5px 0px;
    color: grey;
  }
    .links a:hover {
    text-decoration: underline;
  }
  /* .map  iframe{ */
    /* border-radius: 20px;   */
	/* height: 30vh; */
	/* width: 90vh;   */
    
  /* } */
  .social{
    width: 18vh;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

  .social a:hover{
  color: red;
  }
